<div class="container text-center">
  <div class="container my-3">
    <div class="btn-group">
      <button
        class="btn"
        (click)="inBAndW = true"
        [class.btn-outline-secondary]="!inBAndW"
        [class.btn-secondary]="inBAndW"
      >
        Blanco y negro
      </button>
      <button
        class="btn"
        (click)="inBAndW = false"
        [class.btn-outline-secondary]="inBAndW"
        [class.btn-secondary]="!inBAndW"
      >
        Color
      </button>
    </div>
  </div>
  <input
    id="input-file"
    class="mb-3"
    type="file"
    (change)="uploadImg($event)"
  />
</div>
